<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= link_to 'New Event', new_event_path %>

<h2>Upcoming Events</h2>
<% @upcoming_events.each do |event| %>
  <%= render "event_info", event: event%>
<% end %>

<h2>Past Events</h2>
<% @past_events.each do |event| %>
  <%= render "event_info", event: event%>
<% end %>
