<p id="notice"><%= notice %></p>

<h1 class="d-inline">Events</h1>

<div class="btn btn-danger text-white float-right">
  <%= link_to new_event_path, id: "create-event", class:"text-white" do %>
    <i class="fa fa-plus mr-1"></i>
    <span>Create Event</span>
  <% end %>
</div>

<h3 class="mt-3">Upcoming Events</h3>

<% if @upcoming_events.empty? %>
  <div class="text-muted font-italic">No upcoming event!</div>
<% end %>

<% @upcoming_events.each do |event| %>
  <%= render "event_info", event: event, user: current_user%>
<% end %>

<h3 class="mt-3">Past Events</h3>
<% if @past_events.empty? %>
  <div class="text-muted font-italic">No past events!</div>
<% end %>

<% @past_events.each do |event| %>
  <%= render "event_info", event: event, user: current_user%>
<% end %>
